:root {
  --slide0: 0;
  --slide100: 100%;
  --switchpressl: -50%;
}
html { font-size: 3vh; }

body {
  -moz-user-highlight: none;
  -webkit-user-select: none;
  -o-user-highlight: none;
  -moz-user-select: none;
  background: #dbdbdb;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#letters>* {
  position: absolute;
  color: darkgray;
  display: block;
  z-index: 0;
  top: 100%;
  left: 0;
}

#menu>hr {
  margin: 0;
  background-color: black;
  border: 0.1rem solid black;
  width: 12rem;
}

#menu>h1 {
  margin: 0;
  margin-bottom: 1rem;
}

#main {
  position: absolute;
  display: grid;
  height: 100%;
  left: 0;
  top: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main option";
  z-index: 1;
}

#mainmenu {
  position: relative;
  display: block;
  height: 100%;
  width: 100vw;
  left: 0;
  margin: 0;
  top: 0;
  grid-area: main;
}

#join {
  position: relative;
  height: 100%;
  width: 100vw;
  background: orange;
  display: none;
  grid-area: option;
}

#spectate {
  position: relative;
  height: 100%;
  width: 100vw;
  background: green;
  display: none;
  grid-area: option;
}

@keyframes slide {
  0% {
    left: var(--slide0);
  }
  100% {
    left: var(--slide100);
  }
}

#menu,
#creategamemainbox {
  text-align: center;
  font-weight: 600;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu>div {
  padding: 1rem;
  cursor: pointer;
}

#menu>span,
#menu>div:nth-child(7)::after {
  background-color: black;
  position: relative;
  display: block;
  height: 1px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}

#menu>div:nth-child(7)::after {
  content: '';
  width: 0;
  bottom: -1rem;
}

#menu>div:hover {
  background: linear-gradient(90deg, transparent, rgb(74, 137, 255) 50%, transparent);
}

#menu>div:nth-child(3):hover + span,
#menu>div:nth-child(5):hover + span {
  width: 100% !important;
}

#menu > div:nth-child(7):hover::after {
  width: calc(100% + 2rem);
} 


#options {
  height: 2.5rem;
  width: 4.5rem;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "h s";
  grid-gap: .5rem;
  padding: .5rem;
  right: 0;
  bottom: 0;
}

img {
  width: 100%;
  height: 100%;
}

.settings {
  height: 1.9rem;
  width: 1.9rem;
  grid-area: s;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.help {
  grid-area: h;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.help:hover, .settings:hover {
  opacity: .8;
}

.optionbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: .3rem solid grey;
  border-radius: 1rem;
  font-family: monospace;
  width: 75%;
  height: 75%;
}

.optionboxchild {
  width: 100%;
  height: calc(100% - 0.8rem);
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
  margin: .4rem 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #3b322b; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(61, 61, 61);
}

/* ========== #host ========== */

#host {
  position: relative;
  height: 100%;
  width: 100vw;
  display: none;
  grid-area: option;
}

#creategamemainbox {
  font-weight: normal;
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "text" "settings";
}

#creategame {
  border: 5px solid grey;
  background: rgb(194, 194, 194);
  border-radius: 1rem;
  font-family: monospace;
  grid-area: settings;
  padding: .3rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#host span {
  grid-area: text;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: rgb(55, 119, 158);
  vertical-align: middle;
  font-weight: bolder;
}

.movingbtn {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  opacity: .9;
}

.movingbtn:hover {
  opacity: .7;
  width: 6rem;
  height: 6rem;
}

.movingbtn:active {
  width: 5.5rem;
  height: 5.5rem;
  opacity: .8;
}

.back {
  position: absolute;
  top: 50%;
  left: 12.5%;
  transition: .1s ease-out;
  transform: translate(-50%, -50%);
}

.forward {
  position: absolute;
  transition: .1s ease-out;
  top: 50%;
  left: 87.5%;
  transform: translate(-50%, -50%);
}

.option {
  padding: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'text interaction';
  align-items: center;
  justify-items: center;
}

.option p {
  position: relative;
  display: block;
  grid-area: text;
  margin: 0;
  font-size: 1rem;
}

.option input, .switch {
  width: 3rem;
  height: 1.5rem;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  border: none;
}

.option input:focus {
  box-sizing: border-box;
  border: 1px solid #444;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.switch {
  background: #666;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: .5rem;
}

.switch::before {
  content: '';
  width: 50%;
  height: 100%;
  position: relative;
  display: inline-block;
  background: #212121;
}

.switch::after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
  background: rgb(55 55 215);
  left: var(--switchpressl);
  top: 0;
  transition: .2s linear;
}

/* =========================== */

@media screen and (max-width: 600px) {
  html {
    font-size: 5vw;
  }
  .option {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'text' 'interaction';
  }
  .movingbtn {
    width: 3rem;
    height: 3rem;
  }
  .movingbtn:hover {
    width: 4rem;
    height: 4rem;
  }
  .movingbtn:active {
    width: 3.5rem;
    height: 3.5rem;
  }
  
}