html { font-size: 18px; }

body {
  -moz-user-highlight: none;
  -webkit-user-select: none;
  -o-user-highlight: none;
  -moz-user-select: none;
  background: #dbdbdb;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  width: calc(100% * 2);
  margin: 0;
}

#letters>* {
  position: absolute;
  color: darkgray;
  display: block;
  z-index: 0;
  top: 100%;
  left: 0;
}

#menu>hr {
  margin: 0;
  background-color: black;
  border: 0.1rem solid black;
  width: 12rem;
}

#menu>h1 {
  margin: 0;
  margin-bottom: 1rem;
}

#main {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  text-wrap: nowrap;
  /* 10 px because of the bug in other browsers, need to be taken in count */
  width: calc(100% * 2 + 10px);
  z-index: 1;
}

#mainmenu {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100vw;
  left: 0;
  margin: 0;
  top: 0;
}

#host {
  position: relative;
  height: 100%;
  width: 100vw;
  float: right;
  background: red;
  display: none;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

#menu{
  text-align: center;
  font-weight: 600;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu>div {
  padding: 1rem;
  cursor: pointer;
}

#menu>span {
  background-color: black;
  display: block;
  height: 1px;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#menu>div:hover {
  background: linear-gradient(90deg, transparent, rgb(74, 137, 255) 50%, transparent);
}

#options {
  height: 2.5rem;
  width: 4.5rem;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "h s";
  grid-gap: .5rem;
  padding: .5rem;
  right: 0;
  bottom: 0;
}

img {
  width: 100%;
  height: 100%;
}

.settings {
  height: 1.9rem;
  width: 1.9rem;
  grid-area: s;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.help {
  grid-area: h;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.help:hover, .settings:hover {
  opacity: .8;
}

#settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 5px solid gray;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-family: monospace;
}

#help {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 5px solid grey;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-family: monospace;
}