html { font-size: 3vh; }

@media screen and (max-width: 600px) {
  html {
    font-size: 5vw;
  }
}

body {
  -moz-user-highlight: none;
  -webkit-user-select: none;
  -o-user-highlight: none;
  -moz-user-select: none;
  background: #dbdbdb;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#letters>* {
  position: absolute;
  color: darkgray;
  display: block;
  z-index: 0;
  top: 100%;
  left: 0;
}

#menu>hr {
  margin: 0;
  background-color: black;
  border: 0.1rem solid black;
  width: 12rem;
}

#menu>h1 {
  margin: 0;
  margin-bottom: 1rem;
}

#main {
  position: absolute;
  display: grid;
  height: 100%;
  left: 0;
  top: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main option";
  z-index: 1;
}

#mainmenu {
  position: relative;
  display: block;
  height: 100%;
  width: 100vw;
  left: 0;
  margin: 0;
  top: 0;
  grid-area: main;
}

#join {
  position: relative;
  height: 100%;
  width: 100vw;
  background: orange;
  display: none;
  grid-area: option;
}

#spectate {
  position: relative;
  height: 100%;
  width: 100vw;
  background: green;
  display: none;
  grid-area: option;
}

@keyframes slideright {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes slideleft {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

#menu,
#creategamemainbox {
  text-align: center;
  font-weight: 600;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu>div {
  padding: 1rem;
  cursor: pointer;
}

#menu>span,
#menu>div:nth-child(7)::after {
  background-color: black;
  position: relative;
  display: block;
  height: 1px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}

#menu>div:nth-child(7)::after {
  content: '';
  width: 0;
  bottom: -1rem;
}

#menu>div:hover {
  background: linear-gradient(90deg, transparent, rgb(74, 137, 255) 50%, transparent);
}

#menu>div:nth-child(3):hover + span,
#menu>div:nth-child(5):hover + span {
  width: 100% !important;
}

#menu > div:nth-child(7):hover::after {
  width: calc(100% + 2rem);
} 


#options {
  height: 2.5rem;
  width: 4.5rem;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "h s";
  grid-gap: .5rem;
  padding: .5rem;
  right: 0;
  bottom: 0;
}

img {
  width: 100%;
  height: 100%;
}

.settings {
  height: 1.9rem;
  width: 1.9rem;
  grid-area: s;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.help {
  grid-area: h;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.help:hover, .settings:hover {
  opacity: .8;
}

#settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 5px solid gray;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-family: monospace;
}

#help {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 5px solid grey;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-family: monospace;
  max-width: 75%;
  max-height: 75%;
}

.optionbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 5px solid grey;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-family: monospace;
  max-width: 75%;
  max-height: 75%;
}

.optionbox::-webkit-scrollbar {
  width: 10px;
}

.optionbox::-webkit-scrollbar-track {
  border-radius: 2px;
}

.optionbox::-webkit-scrollbar-thumb {
  background: #3b322b; 
  border-radius: 10px;
}

/*.optionbox::-webkit-scrollbar-thumb:hover {
  background: #666666;*/


/* ========== #host ========== */

#host {
  position: relative;
  height: 100%;
  width: 100vw;
  display: none;
  grid-area: option;
}

#creategamemainbox {
  font-weight: normal;
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "text" "settings";
}

#creategame {
  border: 5px solid grey;
  background: rgb(194, 194, 194);
  border-radius: 1rem;
  font-family: monospace;
  grid-area: settings;
}

#host span {
  grid-area: text;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: rgb(55, 119, 158);
  vertical-align: middle;
  font-weight: bolder;
}

.movingbtn {
  width: 11vw;
  height: 11vw;
  cursor: pointer;
  opacity: .9;
}

.movingbtn:hover {
  opacity: .7;
  width: 12vw;
  height: 12vw;
}

.movingbtn:active {
  width: 11vw;
  height: 11vw;
  opacity: .8;
}

.back {
  position: absolute;
  top: 50%;
  left: 12.5%;
  transform: translate(-50%, -50%);
}

.forward {
  position: absolute;
  top: 50%;
  left: 87.5%;
  transform: translate(-50%, -50%);
}



/* =========================== */