:root {
  --slide0: 0;
  --slide100: 100%;
  --switchpressl: 0;
  --switchpresslb: 50%;
  --switchspect: 0;
  --switchspectb: 50%;
  --spectateafterdisplay: none;
  --joinLobbyInfoBoxTop: 0;
  --joinLobbyErrorBoxContent: '';
}

html { font-size: 3vh; }

body {
  -webkit-tap-highlight-color: transparent;
  -moz-user-highlight: none;
  -webkit-user-select: none;
  -o-user-highlight: none;
  -moz-user-select: none;
  background: #dbdbdb;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#letters>* {
  position: absolute;
  color: darkgray;
  display: block;
  z-index: 0;
  top: 100%;
  left: 0;
}

#menu>hr {
  margin: 0;
  background-color: black;
  border: 0.1rem solid black;
  width: 12rem;
}

#menu>h1 {
  margin: 0;
  margin-bottom: 1rem;
}

#main {
  position: absolute;
  display: grid;
  height: 100%;
  left: 0;
  top: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main option room";
  z-index: 1;
}

#mainmenu {
  position: relative;
  display: block;
  height: 100%;
  width: 100vw;
  left: 0;
  margin: 0;
  top: 0;
  grid-area: main;
}

/* #join {

}

#spectate {
  
} */

.entergame {
  position: relative;
  height: 100%;
  width: 100vw;
  grid-area: option;
  display: grid;
  grid-template-areas: "back joincode next" "error error error";
  grid-template-columns: 3rem 10rem 3rem;
  grid-template-rows: 3rem 1rem;
  gap: .5rem;
  justify-content: center;
  justify-items: left;
  align-content: center;
  align-items: center;
}

.entergame>div {
  width: 100%;
  height: 100%;
  font-size: .8rem;
  color: red;
  grid-area: error;
  text-align: center;
  font-weight: bolder;
}

.backenter {
  cursor: pointer;
  grid-area: back;
  transition: .2s;
}

.joincode {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 0.15rem solid #777;
  font-size: 1.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background: #bbb;
  text-align: center;
  color: #222;
}

.checkAndJoin {
  cursor: pointer;
  grid-area: next;
  transition: .2s;
  height: 100%;
}

@keyframes slide {
  0% {
    left: var(--slide0);
  }
  100% {
    left: var(--slide100);
  }
}

#menu,
.creategamemainbox {
  text-align: center;
  font-weight: 600;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu>div {
  padding: 1rem;
  cursor: pointer;
}

#menu>span,
#menu>div:nth-child(7)::after {
  background-color: black;
  position: relative;
  display: block;
  height: 1px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}

#menu>div:nth-child(7)::after {
  content: '';
  width: 0;
  bottom: -1rem;
}

#menu>div:hover {
  background: linear-gradient(90deg, transparent, rgb(74, 137, 255) 50%, transparent);
}

#menu>div:nth-child(3):hover + span,
#menu>div:nth-child(5):hover + span {
  width: 100% !important;
}

#menu > div:nth-child(7):hover::after {
  width: calc(100% + 2rem);
} 


#options {
  height: 2.5rem;
  width: 4.5rem;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "h s";
  grid-gap: .5rem;
  padding: .5rem;
  right: 0;
  bottom: 0;
}

img {
  width: 100%;
  height: 100%;
}

.settings {
  height: 1.9rem;
  width: 1.9rem;
  grid-area: s;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.help {
  grid-area: h;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#options > div.help > img {
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

.optionbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: .3rem solid grey;
  border-radius: 1rem;
  font-family: monospace;
  width: 75%;
  height: 75%;
  background: #dbdbdb;
}

.optionboxchild {
  width: 99.5%;
  height: calc(100% - 1rem);
  overflow: auto;
  box-sizing: border-box;
  margin: .5rem 0;
}

#settings > .optionboxchild {
  padding: 1rem;
}

#help > .optionboxchild {
  padding: 1rem;
}

.optionboxchild h1 {
  text-align: center;
  margin-top: 0;
}

#help h1 span:nth-child(1) {
  color: rgb(100, 100, 255);
}
#help h1 span:nth-child(2) {
  color: rgb(70, 70, 255);
}
#help h1 span:nth-child(3) {
  color: rgb(40, 40, 255);
}
#help h1 span:nth-child(4) {
  color: rgb(10, 10, 255);
}

#settings h1 span:nth-child(1) {
  color: rgb(255, 150, 150);
}
#settings h1 span:nth-child(2) {
  color: rgb(255, 130, 130);
}
#settings h1 span:nth-child(3) {
  color: rgb(255, 110, 110);
}
#settings h1 span:nth-child(4) {
  color: rgb(255, 90, 90);
}
#settings h1 span:nth-child(5) {
  color: rgb(255, 70, 70);
}
#settings h1 span:nth-child(6) {
  color: rgb(255, 50, 50);
}
#settings h1 span:nth-child(7) {
  color: rgb(255, 30, 30);
}
#settings h1 span:nth-child(8) {
  color: rgb(255, 10, 10);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #cbcbcb;
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80); 
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #383838;
  border-radius: 1rem;
}

/* ========== #host ========== */

#host, #join, #spectate, #room {
  position: relative;
  height: 100%;
  width: 100vw;
  visibility: hidden;
  grid-area: option;
}

.creategamemainbox {
  font-weight: normal;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  justify-items: center;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
      "back text forward"
      "back settings forward";
}

#creategame {
  border: 5px solid grey;
  background: rgb(194, 194, 194);
  border-radius: 1rem;
  font-family: monospace;
  grid-area: settings;
  overflow-y: auto;
  overflow-x: hidden;
}

#host span, #join span, #spectate span {
  grid-area: text;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: rgb(55, 119, 158);
  vertical-align: middle;
  font-weight: bolder;
}

.movingbtn {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  opacity: .9;
}

.back {
  transition: .1s ease-out;
  align-self: center;
  grid-area: back;
}

.forward {
  transition: .1s ease-out;
  align-self: center;
  grid-area: forward;
}

.option {
  padding: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'text interaction';
  align-items: center;
  justify-items: center;
}

.option::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  height: 1px;
  background: #555;
}

.option:last-child {
  align-items: start;
}

.option:last-child::after { display: none }

.option:nth-child(4)::after { display: var(--spectateafterdisplay) }

.option:last-child {
  display: none;
}

.option p {
  position: relative;
  display: block;
  grid-area: text;
  margin: 0;
  font-size: 1rem;
}

.option input, .switch {
  width: 3rem;
  height: 1.5rem;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  border: none;
}

.option input:focus {
  box-sizing: border-box;
  border: 1px solid #444;
  outline: none;
}

/* to hide arrows in input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#addwords {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-content: center;
}

#addwords>img {
  width: 2.5rem;
  cursor: pointer;
  background: #5d5d5d;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 1rem;
}

#addwords>h4 {
  margin-bottom: .5rem;
}

.words {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 1rem;
  justify-content: left;
  gap: .5rem;
  justify-items: center;
}

#addwords textarea {
  resize: none;
  width: 100%;
  border-radius: .5rem;
  padding: .3rem;
  background: #e0e0e0;
  height: 2rem;
}

#addwords textarea:focus,
input:focus {
  outline: none;
}

#addwords textarea:active {
  box-shadow: none;
  border: 1px solid rgb(88, 88, 88);
  border-radius: .5rem;
}

.wbox {
  width: fit-content;
  height: 1.7rem;
  border: 1px solid rgb(36, 36, 36);
  border-radius: .5rem;
  display: grid;
  grid-template-rows: 1fr;
  gap: .1rem;
  padding: .1rem;
  background: #8d8d8d;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.letter {
  border: 1px solid rgb(83, 83, 83) !important;
  border-radius: .5rem !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  padding: .1rem !important;
  font-size: .7rem;
  box-sizing: border-box;
  text-transform: uppercase;
}

.letter:focus {
  border: 1px solid rgb(83, 83, 83) !important;
  outline: none;
}

.creategameErrorbox {
  width: calc(100% -.5rem);
  margin: 0 .5rem;
  font-size: .7rem;
  box-sizing: border-box;
  padding: .5rem;
  background: rgba(59, 0, 0, 0.877);
  border: .3rem solid rgba(15, 0, 0, 0.479);
  color: red;
  border-radius: .4rem;
  display: none;
}

/* &&&&&&&&&& [.|#]switch &&&&&&&&&& */

.switch {
  background: #8d8d8d;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: .5rem;
  position: relative;
}

.switch::before {
  content: '';
  width: var(--switchpresslb);
  height: 100%;
  position: absolute;
  display: inline-block;
  background: #646464;
  border-radius: .5rem;
  left: 0;
  top: 0;
  transition: .2s linear;
  z-index: 1;
}

.switch::after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  background: rgb(55 55 215);
  left: var(--switchpressl);
  top: 0;
  border-radius: .5rem;
  transition: .2s linear;
  z-index: 2;
}

#switchspect::before { width: var(--switchspectb); }

#switchspect::after { left: var(--switchspect); }

/* =========================== */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* ========== #room ========== */

#room {
  grid-area: room;
  background: #383838;
}

#room > .creategamemainbox {
  width: 95%;
  height: 95%;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    'text text'
    'player player1'
    'delete start';
  gap: .5rem;
  display: none; /*remove after debug*/
}

#roomCode {
  grid-area: text;
  color: #dbdbdb;
  font-size: 2rem;
}

#roomCode > span {
  background: #131313;
  border: .2rem solid #5f5f5f;
  border-radius: .5rem;
  padding: .2rem;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.playerfield {
  width: 100%;
  display: block;
  height: 100%;
  background: rgb(31, 31, 31);
  border: .2rem solid rgb(101, 101, 101);
  border-radius: .5rem;
  box-sizing: border-box;
  grid-area: player;
}

#room>div>.playerfield:nth-child(3) {
  grid-area: player1;
  justify-self: right;
}

#room > div > div.playerfieldbox > div:nth-child(2) {
  float: right;
}

.room-btn {
  cursor: pointer;
  height: 2.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startgame {
  grid-area: start;
  background: #1f7af1;
}

.room-btn>img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#deletegame {
  grid-area: delete;
  background: rgb(165, 50, 42);
}

.part {
  width: calc(100% - 1rem);
  height: 1.5rem;
  padding: 0.4rem 0.6rem 0.4rem 0.4rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto 3fr auto auto;
  gap: 0.5rem;
  grid-template-rows: 1fr;
  grid-template-areas: "type part accept decline";
}

.part:hover {
  background: #1c1c1c;
}

.partType {
  min-width: 1.2rem;
  width: fit-content;
  height: 1.2rem;
  padding: 0.2rem;
  border: 0.125rem solid rgb(71 71 71);
  border-radius: 1rem;
  box-sizing: border-box;
  justify-self: center;
}

.spectator {
  background: rgb(236, 236, 20);
}

.player {
  background: rgb(20 142 236);
}

.spectator::before {
  content: "Spectator";
}

.player::before {
  content: "Player";
}

.partType::before {
  color: #000;
  font-weight: bolder;
  font-size: .6rem !important;
  display: none;
}

.partType:hover::before {
  display: block;
}

.part>span {
  display: block;
  height: 1rem;
  width: 100%;
  color: #dbdbdb;
  grid-area: part;
  text-align: left;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.part>img {
  height: 1.25rem;
  background: #dbdbdb;
  width: 1.25rem;
  border: 0.125rem solid #444;
  border-radius: 0.4rem;
  padding: 0.05rem;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  z-index: 1;
}

#waitingRoom {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "text" "main" "back";
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 7fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  padding: 1rem;
  box-sizing: border-box;
  gap: .5rem;
}

#waitingRoom > h1 {
  grid-area: text;
  margin: 0;
  color: #cdcdcd;
}

#waitingRoom > div {
  grid-area: main;
}

#waitingRoom > span > img {
  transform: rotate(180deg);
  position: relative;
  width: 2.5rem;
  top: 0;
  left: calc(50% - 1.25rem);
}

#waitingRoom > span {
  height: 2.5rem;
  grid-area: back;
  background: #00000052;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: .5rem;
  transition: .2s;
}

#waitingRoom > div > div {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s;
  width: 0;
  height: 0;
  grid-row-gap: .4rem;
  background: #333;
  display: grid;
  grid-template-columns: 5fr 2rem 5fr;
  font-size: 1.5rem;
  grid-template-rows: 1fr 2rem 1fr;
  overflow: hidden;
  justify-items: center;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-template-areas:
        "toptext toptext toptext"
        "nick discrimchar discrim"
        "checkmark checkmark checkmark";
  overflow: hidden;
  transition: 2s;
}

#waitingRoom > div > div > span:nth-child(1) {
  grid-area: toptext;
  box-sizing: border-box;
  font-size: 1.4rem;
  padding: .8rem 0;
  visibility: hidden;
  overflow: hidden;
  font-weight: bold;
  color: #d7d7d7;
}

#waitingRoom > div > div > span:nth-child(1)>div {
  overflow: inherit;
  height: 1.6rem;
  width: 100%;
}

#waitingRoom > div > div > span:nth-child(1)>div::after {
  content: var(--joinLobbyErrorBoxContent);
  color: red;
  width: 100%;
  height: 100%;
  position: relative;
  transition: .5s;
  display: block;
  top: var(--joinLobbyInfoBoxTop);
  left: 0;
}

#waitingRoom > div > div > span:nth-child(1)>div::before {
  content: 'Set your nickname and discriminatory';
  width: 100%;
  height: 100%;
  position: relative;
  transition: .5s;
  display: block;
  top: var(--joinLobbyInfoBoxTop);
  left: 0;
}

/* for transition - 
top: -1.6rem;
for both after and before*
*/

#waitingRoom > div > div > input:nth-child(2) {
  grid-area: nick;
  visibility: hidden;
}

#waitingRoom > div > div > span:nth-child(3) {
  grid-area: discrimchar;
  color: #222;
  visibility: hidden;
}

#waitingRoom > div > div > input:nth-child(4) {
  grid-area: discrim;
  visibility: hidden;
}

#waitingRoom > div > div > span:nth-child(5) {
  grid-area: checkmark;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  border-top: 2px solid #474747;
  padding-top: .3rem;
  visibility: hidden;
}

#waitingRoom > div > div > span:nth-child(5) > img {
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  cursor: pointer;
  transition: .1s;
}
#waitingRoom > div > div > span:nth-child(5) > img:hover {
  background: rgba(225, 225, 225, .1);
}

#waitingRoom > div > div > span:nth-child(5) > img:active {
  background: rgba(184, 184, 184, 0.1);
}

@keyframes backanim {
  0% {
    left: calc(50% - 1.25rem);
  }
  49% {
    left: -2.5rem;
  }
  50% {
    left: 100%;
  }
  100% {
    left: calc(50% - 1.25rem);
  }
}

/* =========================== */
@media screen and (orientation:landscape) and (max-width: 1000px) {
  html {
    font-size: 5vh;
  }
}

@media screen and (orientation:portrait) and (max-width: 1000px) {
  html {
    font-size: 5vw;
  }
  .option {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'text' 'interaction';
    gap: .5rem;
  }
  .movingbtn {
    width: 3rem;
    height: 3rem;
  }
  .movingbtn:active {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  ::-webkit-scrollbar {
    width: .3rem;
  }
  #room > .creategamemainbox {
    grid-template-rows: 2fr 3.5fr 3.5fr 1fr;
    grid-template-areas: 
      'text text'
      'player player'
      'player1 player1'
      'delete start';
  }
  .creategamemainbox {
    width: 90%;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
        "text text"
        "settings settings"
        "back forward";
    gap: .2rem;
  }
}

@keyframes rotateSettings {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateHelp {
  25% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/* On mobile devices :hover doesn't work, so I will replace it with :active for them */

/* On a hoverable device */
@media (hover:hover) {
  .help:hover,
  .settings:hover {
    opacity: .8;
  }
  .help:hover {
    animation: 1s rotateHelp infinite;
  }
  .settings:hover {
    animation: 1s rotateSettings infinite;
  }
  #addwords>img:hover {
    background: #2a2a2a;
  }
  #addwords>img:active {
    background: #222222;
  }
  .room-btn:hover {
    height: 2.7rem;
    width: calc(100% + .2rem);
  }
  #deletegame:hover {
    background: rgb(230, 25, 11);
  }
  #startgame:hover {
    background: rgb(0, 153, 255);
  }
  .room-btn:active {
    width: calc(100% + .1rem);
    height: 2.6rem;
  }
  .acceptPart:hover {
    background-color: #1f7af1;
  }
  
  .declinePart:hover {
    background: #a00;
  }
  .movingbtn:hover {
    opacity: .7;
    width: 6rem;
    height: 6rem;
  }
  
  .movingbtn:active {
    width: 5.5rem;
    height: 5.5rem;
    opacity: .8;
  }
  .checkAndJoin:hover {
    height: 115%;
  }
  .checkAndJoin:active {
    height: 110%;
  }
  .backenter:hover {
    opacity: .6;
  }
  #waitingRoom > span:hover img {
    animation: .5s backanim;
  }
  #waitingRoom > span:hover {
    background: #6d6d6d;
  }
}

/* On touch devices */
@media (hover:none) {
  .help:active,
  .settings:active {
    opacity: .8
  }
  #addwords>img:active {
    background: #2a2a2a;
  }
  .room-btn:active {
    width: calc(100% - .2rem);
    height: 2.3rem;
  }
  .acceptPart:active {
    background-color: #1f7af1;
  }
  
  .declinePart:active {
    background: #a00;
  }
  .movingbtn:active {
    width: 4.5rem;
    height: 4.5rem;
    opacity: .8;
  }
  .checkAndJoin:active {
    height: 90%;
  }
  .backenter:active {
    opacity: .6;
  }
}